<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newpush.greenwoodpediatrics"
    android:versionCode="8"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme" >
        <activity
            android:name="com.newpush.greenwoodpediatrics.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.newpush.greenwoodpediatrics.SplashActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Splash"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.newpush.greenwoodpediatrics.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_download" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>

        <service android:name="com.newpush.greenwoodpediatrics.DownloadService" />

        <activity android:name="com.newpush.greenwoodpediatrics.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity android:name="com.newpush.greenwoodpediatrics.PageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity android:name="com.newpush.greenwoodpediatrics.ArticleSetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name="com.newpush.greenwoodpediatrics.AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name="com.newpush.greenwoodpediatrics.PageMyDoctorActivity"
            android:label="@string/title_activity_page_my_doctor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".PracticeSearchActivity"
            android:label="Search your practice"/>
    </application>

</manifest>