<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newpush.greenwoodpediatrics"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme" >
        <activity
            android:name="com.newpush.greenwoodpediatrics.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.newpush.greenwoodpediatrics.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_download" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>

        <service android:name="com.newpush.greenwoodpediatrics.DownloadService" />

        <activity
            android:name="com.newpush.greenwoodpediatrics.OfficeInfoActivity"
            android:label="@string/title_activity_office_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name="com.newpush.greenwoodpediatrics.OfficeInfoItemActivity"
            android:label="@string/title_activity_office_info_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.OfficeInfoActivity" />
        </activity>
        <activity
            android:name=".PracticeNewsActivity"
            android:label="@string/title_activity_practice_news" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".PracticeNewsItemActivity"
            android:label="@string/title_activity_practice_news_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".OfficeLocationActivity"
            android:label="@string/title_activity_location" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".IsYourChildSickActivity"
            android:label="@string/title_activity_is_your_child_sick" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".IsYourChildSickItemActivity"
            android:label="@string/title_activity_is_your_child_sick_item" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".IsYourChildSickArticleActivity"
            android:label="@string/title_activity_is_your_child_sick_article" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".DefaultActivity"
            android:label="@string/title_activity_default" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
        <activity
            android:name=".PageMyDoctorActivity"
            android:label="@string/title_activity_page_my_doctor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.newpush.greenwoodpediatrics.MainActivity" />
        </activity>
    </application>

</manifest>