<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.remedywebsolutions.YourPractice"
          android:versionCode="27"
          android:versionName="1.3">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17"/>

    <uses-permission android:name="com.remedywebsolutions.YourPractice.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <permission android:name="com.remedywebsolutions.YourPractice.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme"
        android:name="com.remedywebsolutions.YourPractice.YourPracticeApplication">

        <!-- Push.IO-releated -->
        <receiver android:name="com.pushio.manager.PushIOBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action  android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.remedywebsolutions.YourPractice" />
            </intent-filter>
        </receiver>

        <activity android:name="com.pushio.manager.PushIOActivityLauncher" />
        <service android:name="com.pushio.manager.PushIOGCMIntentService" />
        <service android:name="com.pushio.manager.PushIOEngagementService" />

        <activity
            android:name="com.remedywebsolutions.YourPractice.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="com.remedywebsolutions.YourPractice.NOTIFICATIONPRESSED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.remedywebsolutions.YourPractice.SplashActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.remedywebsolutions.YourPractice.downloader.RootDownloadService"/>

        <activity android:name="com.remedywebsolutions.YourPractice.MenuActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity"/>
        </activity>
        <activity android:name="com.remedywebsolutions.YourPractice.PageActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity"/>
        </activity>
        <activity android:name="com.remedywebsolutions.YourPractice.ArticleSetActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity"/>
        </activity>
        <activity
            android:name="com.remedywebsolutions.YourPractice.PageMyDoctorActivity"
            android:label="@string/title_activity_page_my_doctor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity"/>
        </activity>
        <activity
            android:name="com.remedywebsolutions.YourPractice.PracticeSearchActivity"
            android:label="Search your practice"
            android:parentActivityName=".MainActivity"
            android:noHistory="true">
        </activity>
        <activity android:name="com.remedywebsolutions.YourPractice.SelectPracticeActivity"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.PracticeSearchActivity"/>
        </activity>
        <activity android:name="com.remedywebsolutions.YourPractice.AboutActivity"/>
        <activity android:name="com.remedywebsolutions.YourPractice.TermsActivity"/>
        <activity android:name="com.remedywebsolutions.YourPractice.MainMenuActivity"/>

        <!-- @TODO: clean this up after testing the REST API -->
        <activity android:name="com.remedywebsolutions.YourPractice.RestTesting"/>

    </application>

</manifest>
