<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remedywebsolutions.YourPractice"   android:versionCode="43"
    android:versionName="2.1">

    <uses-permission android:name="com.remedywebsolutions.YourPractice.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.remedywebsolutions.YourPractice.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.remedywebsolutions.YourPractice.permission.PUSHIO_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.remedywebsolutions.YourPractice.permission.PUSHIO_MESSAGE" />

    <application
        android:name=".YourPracticeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme" >

        <!-- Push.IO-related -->
        <receiver
            android:name="com.pushio.manager.PushIOBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.remedywebsolutions.YourPractice" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PushIOBroadCastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.remedywebsolutions.YourPractice.PUSHIOPUSH" />

                <category android:name="com.remedywebsolutions.YourPractice" />
            </intent-filter>
        </receiver>



        <activity
            android:name="com.pushio.manager.PushIOActivityLauncher"
            android:exported="true" />

        <service android:name="com.pushio.manager.PushIOGCMIntentService" />
        <service android:name="com.pushio.manager.PushIOEngagementService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity android:name=".passcode.PasscodePreferencesActivity" />
        <activity android:name=".passcode.PasscodeUnlockActivity" />
        <activity android:name=".passcode.PasscodeManagePasswordActivity" />
        <activity android:name=".DefaultActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".SelectModeActivity" />
        <activity android:name=".ProviderMenuActivity" />




        <activity android:name=".LogoutActivity" />
        <activity android:name=".SecureCallListActivity" >

        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".downloader.RootDownloadService" />

        <activity
            android:name=".MenuActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity" />
        </activity>
        <activity
            android:name=".PageActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity" />
        </activity>
        <activity
            android:name=".ArticleSetActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity" />
        </activity>
        <activity
            android:name=".PageMyDoctorActivity"
            android:label="@string/title_activity_page_my_doctor"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.MainActivity" />
        </activity>
        <activity
            android:name=".PracticeSearchActivity"
            android:label="Search your practice"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SelectPracticeActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.remedywebsolutions.YourPractice.PracticeSearchActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MyAccountActivity" >
        </activity>
        <activity android:name=".MessageListActivity" />
        <activity android:name=".MessageThreadsActivity" />
        <activity android:name=".MessageThreadActivity" />
        <activity android:name=".MessageDisplayActivity" />
        <activity android:name=".SendCustomMessageActivity" />

        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />


        <!-- Passcode lock related activities -->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodePreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Light"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name=".NotificationBroadcastReceiver"
            android:exported="false" >
        </service>
        <service
            android:name=".NotificationIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".ProviderMenuActivity"
            >
            <!--  <intent-filter>
                  <action android:name="com.remedywebsolutions.YourPractice.NOTIFICATIONPRESSED" />
                  <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>-->
             <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.remedywebsolutions.YourPractice.ProviderMenuActivity" />

         </activity>
         <activity
             android:name=".DisplaySecureMessageActivity"
             android:label="@string/title_activity_display_secure_message"
             android:parentActivityName=".DefaultActivity" >
             <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="com.remedywebsolutions.YourPractice.DefaultActivity" />
         </activity>
         <activity
             android:name=".CreatePinActivity"
             android:label="@string/title_activity_create_pin" >
         </activity>
         <activity
             android:name=".MaskedCallActivity"
             android:label="@string/title_activity_masked_call" >
         </activity>
     </application>

 </manifest>
